@import './Variables.scss';
// mobile
@media only screen and (min-width: 375px) {
    .main {
        padding: 2rem 0.6rem;
    }
    .me {
        height: 200px;
        width: 200px;
    }
    .my-name {
        font-size: 32px;
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {
    .main {
        padding: 4rem 12rem;
    }
    .me {
        height: 300px;
        width: 300px;
    }
    .my-name {
        font-size: 85px;
    }
}

.main {
    height: auto;
    background-image: url('https://t3.ftcdn.net/jpg/02/27/28/94/360_F_227289423_qCawKVdIzYDAXkYm0c46yrpKyhYrA7Sr.jpg');
    // background: linear-gradient(45deg, #fdb382, #fa9aaf, rgb(255, 173, 173), pink);
    border-bottom: black solid 4px;
    // background: linear-gradient(-45deg, #d1d0d0, #ececec);
}

.main-container {
    margin-top: 3rem;
    height: 100%;
    padding: 0.5rem 3rem;
    background: rgba($color: #000000, $alpha: 1);
    box-shadow: 1px -1px 10px #2c2c2c;
    border: rgb(255, 255, 255) solid 4px;
}

// image
.col-center {
    display: flex;
    justify-content: center;
}

.img-container {
    margin-top: 2rem;
    width: fit-content;
    border-radius: 0.2rem;
    background-image: url('https://t3.ftcdn.net/jpg/02/27/28/94/360_F_227289423_qCawKVdIzYDAXkYm0c46yrpKyhYrA7Sr.jpg');
    box-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000;
}

.me {
    border-radius: 0.2rem;
    border: #000000 solid 4px;
    margin: 10px 10px;
}

//text content
.my-name {
    color: aliceblue;
    margin: auto;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.about-me {
    color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.grad-container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}