@media only screen and (min-width: 375px) {
    .nav-item {
        background-color: #000000;
    }
}

@media only screen and (min-width: 1000px) {
    .nav-item {
        background-color: inherit;
    }
    .navbar-butn-container {
        display: flex !important;
        justify-content: center;
    }
}

.nav-link {
    color: aliceblue !important;
    font-size: 1.5rem;
}

.navbar-container {
    color: aliceblue !important;
    height: 3rem;
    width: 100%;
    background: linear-gradient(-45deg, #000000, #000000);
    box-shadow: 3px 3px 6px #1d1d1d;
    // fixed navbar
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: white solid 1px;
}

.nav-item {
    flex: 1;
    margin: auto 30px;
}

.nav-item:hover {
    font-size: 2rem;
    transition-duration: 0.1s;
}

.navbar-toggler {
    background-color: aliceblue;
}