@media only screen and (min-width: 375px) {
    .nav-item {
        background-color: #b34700;
    }
}

@media only screen and (min-width: 1000px) {
    .nav-item {
        background-color: inherit;
    }
    .navbar-butn-container {
        display: flex !important;
        justify-content: center;
    }
}

.navbar-container {
    height: 3rem;
    width: 100%;
    background: linear-gradient(-45deg, #d1d0d0, #ececec);
    box-shadow: 3px 3px 6px #1d1d1d;
    // fixed navbar
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar-butn-container {
    font-weight: bold;
}

.nav-item {
    flex: 1;
    margin: auto 30px;
}

.nav-item:hover {
    font-size: 2rem;
    transition-duration: 0.1s;
}