@import './Variables.scss';
// mobile
@media only screen and (min-width: 375px) {
    .main-projects {
        padding: 2rem 0.6rem;
    }
    .project-title {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1000px) {
    .main-projects {
        padding: 4rem 12rem;
    }
    .project-title {
        font-size: 2rem;
    }
}

.main-projects {
    height: auto;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946__480.jpg');
    border-bottom: black solid 4px;
}

.main-projects-container {
    color: aliceblue;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    background: rgba($color: #000000, $alpha: 1);
    box-shadow: 1px -1px 10px #2c2c2c;
    border: rgb(255, 255, 255) solid 4px;
}

.project-title {}

.link {
    font-size: 1rem;
    color: rgb(250, 164, 164);
    font-weight: bold;
}

.project-img {
    border: black solid 4px;
    height: 200px;
}

.others {
    text-align: right;
    font-style: italic;
}