@import './Variables.scss';
// mobile
@media only screen and (min-width: 375px) {
    .main-projects {
        padding: 2rem 0.6rem;
    }
    .project-title {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1000px) {
    .main-projects {
        padding: 4rem 12rem;
    }
    .project-title {
        font-size: 2rem;
    }
}

.main-projects {
    height: auto;
    background: linear-gradient(45deg, #ab4ae2, #9b22d3);
    border-bottom: black solid 4px;
}

.main-projects-container {
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    background: #bc58f7;
    box-shadow: 23px -23px 30px #9f36db, -23px 23px 30px #9b1cd6;
    border: black solid 4px;
}

.project-title {}

.link {
    font-size: 1rem;
    color: rgb(250, 164, 164);
    font-weight: bold;
}

.project-img {
    border: black solid 4px;
    height: 200px;
}

.others {
    text-align: right;
    font-style: italic;
}