@import './Variables.scss';
// mobile
@media only screen and (min-width: 375px) {
    .main-skills {
        padding: 2rem 0.6rem;
    }
    .skill-title {
        font-size: 1.5rem;
    }
    .icon {
        height: 42px;
        width: 42px;
    }
}

@media only screen and (min-width: 1000px) {
    .main-skills {
        padding: 4rem 12rem;
    }
    .skill-title {
        font-size: 2rem;
    }
    .icon {
        height: 62px;
        width: 62px;
    }
}

.main-skills {
    height: auto;
    // background: linear-gradient(45deg, #10acc0, #02bfc5);
    background-image: url('https://st4.depositphotos.com/39967654/41152/i/950/depositphotos_411523062-stock-photo-white-marble-texture-background-high.jpg?forcejpeg=true');
    border-bottom: rgb(0, 0, 0) solid 4px;
}

.main-skills-container {
    color: aliceblue;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    background: rgba($color: #000000, $alpha: 1);
    box-shadow: 1px -1px 10px #2c2c2c;
    border: rgb(255, 255, 255) solid 4px;
}

.skills-details {
    display: flex;
    justify-content: flex-start !important;
}

.skill-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    text-decoration: underline;
}

.skill-icon {
    width: fit-content;
    margin: auto;
}

.skill-title {
    text-align: left;
    color: aliceblue;
}

// icons
.icon {
    padding: 3px;
    margin: 2px;
    border-radius: 6px;
    border: black solid 2px;
}

.icon-container-out {
    justify-content: flex-start;
}

.skill-name {
    text-align: center;
    color: aliceblue;
}