@import './Variables.scss';
// mobile
@media only screen and (min-width: 375px) {
    .main-skills {
        padding: 2rem 0.6rem;
    }
    .icon {
        height: 42px;
        width: 42px;
    }
}

@media only screen and (min-width: 1000px) {
    .main-skills {
        padding: 4rem 12rem;
    }
    .icon {
        height: 62px;
        width: 62px;
    }
}

.main-skills {
    height: auto;
    background: linear-gradient(45deg, #000000, #ffffff);
    background-image: url('https://payload.cargocollective.com/1/4/136265/10889399/continuo-mas-floral_1600_c.jpg');
    border-bottom: rgb(0, 0, 0) solid 4px;
    background-size: cover;
    background-attachment: fixed;
    // background-size: 800% 800%;
}

.main-skills-container {
    color: aliceblue;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    background: rgba($color: #000000, $alpha: 0.9);
    box-shadow: 1px -1px 10px #2c2c2c;
    border: rgb(255, 255, 255) solid 4px;
}

.skills-details {
    display: flex;
    justify-content: flex-start !important;
}

.skill-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    text-decoration: underline;
}

.icon:hover {
    transition-duration: 0.2s;
    background-color: aliceblue;
}

.skill-icon {
    width: fit-content;
    margin: auto;
}

.skill-title {
    text-align: left;
    color: aliceblue;
}

// icons
.icon {
    padding: 3px;
    margin: 2px;
    border-radius: 6px;
    border: black solid 2px;
}

.icon-container-out {
    justify-content: flex-start;
}

.skill-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: aliceblue;
}